<h3>Answers</h3>
{{#each question.answers as |answer|}}
<table class="table table-bordered question-table">
  <tbody>
    <tr>
      <th>Author</th>
      <td>{{answer.an_author}}</td>
    </tr>
    <tr>
      <th>Answer</th>
      <td><textarea readonly rows=10>{{answer.an_notes}}</textarea></td>
    </tr>
    <tr>
      <th>Delete</th>
      <td>
        <button class="bg-warning" {{action 'deleteAnswer' answer}}>(It's Permanent!)</button>
      </td>
    </tr>
  </tbody>
</table>

{{update-answer answer=answer updateAnswer="updateAnswer"}}

{{/each}}
