<div class="container-fluid" id="nav-bar">
  <nav class="navbar navbar-light bg-info">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'index'}}<h4>Q and A</h4>{{/link-to}}
      </div>
      <div class="nav navbar-nav navbar-right">
        <h4>{{#link-to 'about'}}about us{{/link-to}} | {{#link-to 'contact'}}contact{{/link-to}}</h4>
      </div>
    </div>
  </nav>
</div>
